/* BASE */

body {
	font: 18px/1.5 Verdana, sans-serif;
	padding: 1rem 3rem;
	background: #fafafa;
	color: #333;
}

main {
	margin: 1rem auto 0;
	max-width: 50rem;
	/* contain float children */
	overflow: hidden;
}

h1 {
	text-align: center;
	margin: 0;
}

footer {
	text-align: right;
}


/* SECTION LAYOUT */

section {
	margin: 0 0 1.5rem 0;
	border: .3rem solid #000;
	float: right;
	width: 42%;
}
#form {
	float: left;
	width: 50%;
}
h2 {
	font-size: 120%;
	font-weight: bold;
	text-align: center;
	margin: 0;
	padding: .2rem;
	border-bottom: .2rem solid #000;
}
section footer {
	margin: 5.7rem 0 3rem;
	text-align: center;
}


/* TABLES */

table {
	margin: 1rem 2rem;
	border-collapse: collapse;
}
tfoot th, tfoot td {
	border-top: .2rem solid #000;
}
th, td {
	padding: .2rem .5rem;
}
th {
	text-align: right;
	font-weight: normal;
}


/* FORMS*/

input {
	border: 3px solid #000;
	border-radius: 3px;
	font: inherit;
	padding: .2rem;
	display: inline;
	width: auto;
}
input[type="number"] {
	width: 5rem;
}
button,
input[type="submit"],
input[type="reset"] {
	border: 3px solid #000;
	border-radius: 3px;
	font: inherit;
	margin: 0 .3rem;
	display: inline-block;
	text-align: center;
	padding: .2rem 1rem;
	box-shadow: .3rem .3rem 0 rgba( 0, 0, 0, .8 );
}
button:active,
input[type="submit"]:active,
input[type="reset"]:active {
	position: relative;
	top: .2rem;
	box-shadow: .1rem .1rem 0 rgba( 0, 0, 0, .9 );
	transition: margin 60ms, box-shadow 50ms;
}
